spring:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5555/plata
    user: postgres
    password: postgres
    driver-classname: org.postgresql.Driver
app:
  security:
    jwt-secret: your-secret
    token-expiry: 7200000
