spring:
  datasource:
    url: jdbc:postgresql://localhost:5555/plata
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
app:
  security:
    jwt-secret: your-secret
    token-expiry: 7200000
